@page
@model PoliceArchive.Pages.Admin.PolicemanAdmin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Policeman</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Policeman.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Policeman.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Policeman.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Policeman.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Policeman.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Policeman.Email)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Policeman.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
